*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:Arial;
}

body{
  background:#0a0a0a;
  color:white;
}

.hero{
  height:100vh;
  background:url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=2000&auto=format&fit=crop")
  center/cover;
  display:flex;
  flex-direction:column;
}

.navbar{
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:20px 60px;
  background:rgba(0,0,0,0.5);
  backdrop-filter:blur(10px);
}

.logo{
  font-size:30px;
  font-weight:bold;
}

.navbar ul{
  display:flex;
  gap:20px;
  list-style:none;
}

.navbar a{
  color:white;
  text-decoration:none;
}

.cart{
  font-size:20px;
}

.heroContent{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
}

.heroContent h1{
  font-size:90px;
}

.heroContent button{
  padding:15px 35px;
  margin-top:20px;
  cursor:pointer;
  border:none;
  border-radius:10px;
}

.section{
  padding:100px 40px;
}

.dark{
  background:#111;
}

.section h2{
  text-align:center;
  font-size:45px;
  margin-bottom:40px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:#1a1a1a;
  border-radius:15px;
  overflow:hidden;
  transition:0.4s;
  transform-style:preserve-3d;
}

.card:hover{
  transform:rotateY(8deg) rotateX(8deg) scale(1.05);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.cardContent{
  padding:15px;
}

.cardContent button{
  margin-top:10px;
  width:100%;
  padding:10px;
  border:none;
  cursor:pointer;
  border-radius:8px;
}
